<mat-form-field class="example-full-width">
  <input matInput class="input-auto" type="text" placeholder={{placeholder}}
   #selectInput  [ngClass]="{'error': isValid == false, 'standard-box':standardBoxStyle}"
   [formControl]="myControl" [matAutocomplete]="auto">
   <span class="fa fa-angle-down arrowIcon" (click)="onClick($event)"></span> 
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
    {{ option }}
  </mat-option>
</mat-autocomplete> 
<label *ngIf="!isValid" class="error-label">No Item Found</label>  
